@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("/fonts/Lato-Light.ttf");
}
body {
  font-family: Lato;
  font-size: 22px;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/images/Texture.png");
}
h1,
h2,
h3,
h6 {
  font-family: Montserrat;
  font-weight: normal;
}
h1 {
  font-size: 100px;
  width: 888px;
  margin: auto;
  position: relative;
}
#lucy {
  color: #2196f3;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 30px;
  width: 820px;
  margin: auto;
  position: relative;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {
  color: #808080;
  font-size: 22px;
  font-weight: normal;
}
object {
  height: 488px;
  width: 100%;
}
.well {
  background: #f8f8f8;
  margin-bottom: 0;
}
.well .tab-title {
  float: left;
  margin-left: 10px;
}
.well .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}
.navbar-default {
  padding: 12px;
  background-color: #2196f3;
}
.navbar-default a {
  font-family: Lato;
  font-size: 22px;
}
.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.navbar-brand a {
  margin-right: 15px;
}
.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
#login {
  padding-top: 5%;
}
#login label {
  color: #fff;
}
#login form {
  width: 400px;
  background-color: #2196f3;
}
#login .controls {
  text-align: center;
  margin-top: 40px;
}
#login .controls .button-sign-in {
  width: 200px;
  padding: 10px 0px;
  font-size: 24px;
  background-color: #43a047;
  border-color: #2d6d2f;
}
#login .controls .button-sign-in:hover {
  background-color: #3c9440;
}
#login .controls .button-rememember-me {
  float: left;
  width: auto;
  padding: 7px 20px;
}
#login #account-form-btn2 {
  background-color: #43a047;
  border-color: #2d6d2f;
}
#login .btm-links #forgot-password {
  font-size: 18px;
  float: right;
  margin: 4px 0 16px 0;
  font-color: #fff;
}
#login .btm-links #create-account {
  font-family: Lato-Light;
  font-size: 20px;
  margin: auto;
  width: 300px;
  margin-top: 5px;
}
#login .btm-links #create-account a {
  color: #2196f3 !important;
}
#account-form-container form {
  width: 460px;
  top: 255px;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-control {
  background-color: #fff !important;
}
/*
	modal windows
*/
.modal .modal-dialog {
  width: 480px;
}
.modal .form-group {
  margin-bottom: 0px;
}
.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}
.modal .alert-dismissable,
.modal .close {
  right: -4px;
}
.modal p {
  margin: 0;
  padding: 0;
}
.modal .modal-footer button {
  width: auto;
}
.center-vertical {
  height: 100vh;
}
.center-vertical form {
  margin: auto;
}
.form-login-page {
  height: 350px;
  top: 32%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-horizontal .form-buttons {
  float: right;
}
.form-horizontal .form-buttons .btn {
  width: auto;
  margin-left: 6px;
}
.object-body {
  margin-top: 150px;
}
.container-body {
  margin: auto;
  width: 1200px;
  text-align: center;
  position: relative;
  top: 80px;
}
.explication {
  text-align: left;
  margin-left: 20px;
}
.explication a {
  color: #337ab7;
}
.concepts,
.indefinite-concepts {
  font-family: Montserrat;
  font-size: 30px;
  width: 460px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px;
  background-position-y: 33px;
  margin: 50px 50px 0 0;
}
.concepts {
  background-color: #673ab7;
  color: #fff;
  padding-top: 185px;
}
.concepts:hover {
  background-color: #5c33a5;
  color: #fff;
}
.indefinite-concepts {
  background-color: #ddd;
  color: #a09898;
  padding-top: 105px;
}
.indefinite-concepts:hover {
  background-color: #d2d2d2;
  color: #a09898;
}
#context-awareness {
  background-image: url("/images/pessoa.png");
}
.nav-section {
  background-color: #5e35b1;
}
.container-body-section {
  top: 260px;
}
.section-definition {
  margin-top: 70px;
  margin-bottom: 25px;
  color: #fff;
}
.section-definition img {
  width: 120px;
  float: left;
  margin-right: 20px;
}
.book img {
  width: 140px;
  margin-top: 8px;
}
.wrench img {
  width: 90px;
}
.section-btn {
  font-family: Montserrat;
  font-size: 30px;
  width: 280px;
  height: 360px;
  color: #fff;
  padding-top: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px;
  background-position-y: 70px;
  margin: 35px;
}
.learn,
.learn:active {
  background-image: url("/images/livro.png");
  background-color: #9575cd;
  background-position-y: 88px;
  background-size: 160px;
}
.learn:hover {
  color: #fff;
  background-color: #8869bd;
}
.simulate,
.simulate:active {
  background-image: url("/images/chave_de_boca.png");
  background-color: #5e35b1;
}
.simulate:hover {
  color: #fff;
  background-color: #5731a5;
}
.practice,
.practice:active {
  background-image: url("/images/alvo.png");
  background-color: #311b92;
}
.practice:hover {
  color: #fff;
  background-color: #2c1884;
}
.lecture {
  margin-bottom: 17px;
  margin-top: 20px;
}
