@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts-icons/icomoon.eot?3bf99c');
  src:  url('/fonts-icons/icomoon.eot?3bf99c#iefix') format('embedded-opentype'),
    url('/fonts-icons/icomoon.ttf?3bf99c') format('truetype'),
    url('/fonts-icons/icomoon.woff?3bf99c') format('woff'),
    url('/fonts-icons/icomoon.svg?3bf99c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 45px;
}

.icon-acc:before {
  content: "\e902";
}
.icon-gps:before {
  content: "\e903";
}
.icon-light:before {
  content: "\e904";
}
.icon-temp:before {
  content: "\e900";
}

body{
	font-family: Lato;
  	font-size: 16px;
	color: #000000;
	text-align: center;
}

#sync-section{
	display: none;
}

#sync-section, #tuto-section{
	padding-top: 5px;
	width: 950px;
	height: 430px;
	background-color: #5E35B1;
	color: #fff;
	border-radius: 5px;
	margin: auto;
}

#tuto-section{
	height: 440px !important;
	overflow: hidden;
}

#sync-section img{
	margin-top: 10px;
    width: 500px;
	height: auto;
}

#sync, #tuto{
	font-family: Montserrat;
  	font-size: 28px;
  	font-weight: normal;
}

#tuto{
	margin: 12px 0 15px 0;
}

#code{
	margin: auto;
	width: 28%;
	padding-top: 40px;
}

#key{
	width: 200px;
	margin: 0;
	background-color: #fff;
	color: #5E35B1;
	padding: 8px 0 8px 0;
	float: left;
}

#key, #sync-section input{
	font-size: 22px;
}

#sync-section input{
	font-size: 22px;
	width: 55px;
    height: 42px;
    color: #fff;
    background-color: #43a047;
    border: 0;
}

#sync-section input:hover, #sync-section input:focus{
	background-color: #3c9440;
	color: #fff;
	cursor: pointer;
}

#download-app{
	font-family: Lato-Light;
	font-size: 22px;
}

#download-app a{
	color: #fff;
	font-weight: bold;
}

#simulation{
	display: none;
	width: 1050px;
}

.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.navbar-brand a {
  margin-right: 15px;
}

#flow-components{
	width: auto;
	height: auto;
}

h1{
	font-family: Helvetica;
	font-weight: bold;
	font-size: 24px;
	color: #4A4A4A;
	text-align: left;
	margin-bottom: 0px;
}

img{
	width: 100px;
	height: 20px;
	margin: 10px 0 8px 0;
}

.title{
	font-size: 25px;
	color: #fff;
	margin: 0;
	padding: 10px 0 18px 0;
}

.inline-block-centered{
	display: inline-block;
	text-align: left;
}

.align-left{
	margin-left: 0;
}

#flashlightAggre2{
	margin-bottom: 10px;
}

#flashlightAggre3{
	margin-bottom: 10px;
}

form, .form-parameters, .components-box{
	margin: 4px;
	border-radius: 8px;
}

.components-box{
	width: 190px;
	text-align: center;
	padding-top: 15px;
}

.unavailable{
	border: 1px dashed #979797;
	background-color: #ededed;
    color: #979797;
}

.available{
	border-top: 2px solid #5E35B1;
	background-color: #FFFFFF;
	color: #5E35B1;
	border-bottom: none;
	border-right: none;
	border-left: none;
}

.status-box{
	height: 40px;
	border-radius: 0 0 8px 8px;
	line-height: 37px;
	margin: 0;
	cursor: hand; // Pro IE
	cursor: pointer; // Pro FF
}

.components{
	margin: 5px 0 13px 0;
}

.arduino-box{
	font-size: 16px;
	margin: 0 0 4px 0;
	padding: 0;
}

.components-arduino{
	margin: 0;
}

#tempSensor-enable{
	padding-top: 5px;
}

.greenBorder{
	border: none;
	background-color: #43A047;
	color: #FFFFFF;
}

.able{
	border-top: 2px solid #FFFFFF;
	background-color: #43A047;
	color: #FFFFFF;
}

.form-parameters{
	width: 285px;
	float: left;
}

#fieldset-components{
	float: left;
}

#fieldset-sensors, #fieldset-widgets, #fieldset-interpreters, 
#fieldset-aggregators, #trigger-aggregators{
	width: 680px;
    padding: 30px 0 0 0;
    margin-top: 10px;
	border-width: 3px;
	border-radius: 8px;
	background-color: #5E35B1;
}

#fieldset-sensors, #fieldset-widgets, #fieldset-interpreters, 
#fieldset-aggregators{
	margin-left: 110px;
}

#fieldset-widgets, #fieldset-interpreters, 
#fieldset-aggregators, #trigger-aggregators{
	display: none;
}

#trigger-aggregators{
	width: 840px;
}

#fieldset-interpreters{
	height: 419px;
}

#fieldset-interpreters .title{
	position: relative;
    top: -33px;
}

#fieldset-sensors .components-box, #fieldset-widgets .components-box{
	margin: 20px;
}

#fieldset-widgets .components{
	margin: 10px 0 20px 0;
}

#lightInter{
	position: relative;
    left: 10px;
    top: 92px;
}

#new-address{
	position: relative;
    top: -51px;
}

#accInter{
	position: relative;
    top: -35px;
    right: 134px;
}

#menu{
	width: 210px;
    margin: auto;
    float: right;
    margin-top: 43px;
    height: 255px;
}

#bt-triggers{
	background: url(/image/triggers_0.png);
    background-repeat: no-repeat;
    position: relative;
    right: 2px;
    width: 196px;
    background-size: 197px;
    height: 140px;
    border: none;
    cursor: pointer;
    padding: 0;
}

#bt-aggregator{
	background: url(/image/agg_0.png);
    background-repeat: no-repeat;
    width: 139px;
    background-size: 140px;
    height: 101px;
    border: none;
    cursor: pointer;
    position: relative;
    right: -26px;
    top: -100px;
    padding: 0;
}

#bt-interpreters{
    font-family: Lato;
    font-size: 14px;
	position: relative;
    right: 1px;
    top: -157px;
    width: 90px;
    height: 55px;
    padding: 1px;
    border: 1px solid #5E35B1;
    border-radius: 8px;
    background-color: #fff;
    color: #5E35B1;
    cursor: pointer;
}

#bt-widgets{
    font-family: Lato;
    font-size: 14px;
    width: 195px;
    height: 55px;
    padding: 1px;
    border: 1px solid #5E35B1;
    border-radius: 8px;
    background-color: #fff;
    color: #5E35B1;
    position: relative;
    right: 1px;
    top: -158px;
    cursor: pointer;
}

#bt-sensors{
	font-family: Lato;
    font-size: 14px;
    width: 195px;
    height: 55px;
    padding: 18px;
    border: 1px solid #5E35B1;
    border-radius: 8px;
    background-color: #fff;
    color: #5E35B1;
    position: relative;
    right: 1px;
    top: -159px;
    cursor: pointer;
}

#tuto-learn, #tuto-start{
	position: relative;
    bottom: 35px;
    width: 138px;
    height: 35px;
    padding-top: 0;
    border-radius: 6px;
    font-family: Lato;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#tuto-learn{
	float: left;
	background-color: #9575CD;
	margin-left: 40px;
}

#tuto-start{
	float: right;
	background-color: #43A047;
	margin-right: 40px;
}

#tuto-menu{
	width: 280px;
    margin: auto;
    height: 360px;
}

#balloon1{
	width: initial;
    height: initial;
    position: relative;
    bottom: 374px;
    left: 260px;
}

#balloon2{
	width: initial;
    height: initial;
    position: relative;
    bottom: 254px;
    right: 270px;
    display: none;
}

#tuto-menu input:focus{
	  outline: none;
}

#bt-triggers2{
	background: url(/image/tg1.png);
    background-repeat: no-repeat;
    width: 281px;
    height: 201px;
    border: none;
    padding: 0;
}

#bt-aggregator2{
	background: url(/image/agg1.png);
    background-repeat: no-repeat;
    width: 202px;
    height: 146px;
    border: none;
    position: relative;
    left: 40px;
    top: -146px;
    padding: 0;
}

#bt-interpreters2{
    font-family: Lato;
    font-size: 18px;
    width: 121px;
    height: 80px;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #757575;
    color: #fff;
    position: relative;
    bottom: 227px;
}

#bt-widgets2{
    font-family: Lato;
    font-size: 18px;
    width: 280px;
    height: 80px;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #757575;
    color: #fff;
    position: relative;
    bottom: 228px;
}

#bt-sensors2{
	font-family: Lato;
    font-size: 18px;
    width: 280px;
    height: 80;
    padding: 18px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #757575;
    color: #fff;
    position: relative;
    bottom: 229px;
}

#bt-sensors2:hover, #bt-widgets2:hover, #bt-interpreters2:hover{
	background-color: #F5F5F5;
	color: #5E35B1;
}

#bt-triggers2:hover{
	background: url(/image/tg2.png);
    background-repeat: no-repeat;
    width: 281px;
    height: 201px;
}

#bt-aggregator2:hover{
	background: url(/image/agg2.png);
    background-repeat: no-repeat;
    width: 202px;
    height: 146px;
}

#loc_atual, #lightSensor, #gps-enable, #lightSensor-enable{
	margin-top: 0 !important;
}

#accSensor, #tempSensor, #accSensor-enable, #tempSensor-enable{
	margin-bottom: 5px !important;
}

.bt-active{
	background-color: #5E35B1 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.box-size{
	width: 255px;
}

#characAggre{
	cursor: default;
}

#interpreters, #aggregators{
	width: 49%;
	margin: 5px; 
}

#interpreters{
	margin-bottom: 50px;
}

.alignCharac{
	font-size: 16px;
	text-align: left;
	margin: 5px 0 5px 0;
}

#low-light-sensor-text, #high-light-sensor-text{
	width: 120px;
	height: 25px;
	margin: 5px 0 5px 0;
	padding-left: 4px;
}

#low-light-sensor div, #high-light-sensor div{
	width: 75px;
	font-size: 14px;
}

.text-box-width{
	width: 65px !important;
}

#low-light-submit, #high-light-submit{
	width: 40px;
	height: 25px;
}

.text-box {
	display: inline-block;
	width: 100px;
	text-align: right;
}

.text-box-middle{
	width: 55px;
}

.value-box{
	width: 135px;
	height: 25px;
}

.arrow-space{
	position: relative;
	right: 286px;
}

.arrow-space2{
	position: relative;
	left: 111px;
	height: 25px;
}

.arrow-space3{
	height: 100px;
	width: 25px;
	position: relative;
	right: 324px;
	top: 320px;
}

.select-box{
	margin-bottom: 17px;
}

.last-box{
	margin-bottom: 10px;
}

.text-box-sens{
	margin: 0px 10px 0 -12px;
}

#flashlightAggre{
	vertical-align: top;
}

/*Location lightbox*/
#shadowing
{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:10;
	opacity:0.5;
}

#box 
{
	display: none;
	position: fixed;
	top: 20%;
	left: 20%;
	width: 260px;
	height: auto;
	padding: 60px;
	margin:0;
	border: 1px solid black;
	background-color: white;
	z-index:101;
	overflow: auto;
	text-align: left;
	border-radius: 8px;
}

#boxtitle
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:30px;
	padding:0;
	padding-top:10px;
	margin:0;
	background-color: #09c;
	color:white;
	text-align:center;
}

/*Slider de sensibilidade do acc*/
#slider{
	background: #FFFFFF;
	border: 1px solid #C5C5C5;
	width: 130px;
	height: 15px;
	float: right;
	top: 3px;
}

#lum-options3{
	background: #FFFFFF;
	border: 1px solid #C5C5C5;
	width: 135px;
	height: 17px;
	left: 60px;
    top: 4px;
    margin-bottom: 11px;
}

#custom-handle, #custom-handle-lum{
	width: 35px;
	height: 22px;
	text-align: center;
	line-height: 23px;
	font-size: 14px !important;
}

/*tooltip*/
.ui-tooltip, .arrow:after {
	background-color: #fff;
	border: 1px solid black;
}
.ui-tooltip {
	padding: 10px 20px;
	color: black !important;
	background-color: #fff !important;
	border-radius: 10px !important;
	font-family: Lato !important;
  	font-size: 16px !important;
	box-shadow: 0 0 7px black;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 23%;
	margin-left: -3px;
	bottom: -12px;
}
.arrow.top {
	top: -16px;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}