
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top.nav-section
		.container
			.navbar-header
				.navbar-brand
					a(href="home") Home
					a(href="#") Concepts
					a(href="#") About
					a(href="#") Help
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn.btn-logout.btn.btn-default
						| Sign Out
			.section-definition
				img(src='/images/pessoa.png')
				h2 Context-Awareness
				p 
					| What is Context-Awareness? How is it programmed? What are the necessary tools to make an app trully Context-Aware? Learn this and much more in this section!
	.container-body.container-body-section
		.btn.section-btn.learn(onclick="location.href = 'lectureContextAwareness'")
			| Lecture
		.btn.section-btn.simulate(onclick="location.href = 'simulationContextAwareness'")
			| Simulation
		.btn.section-btn.practice(onclick="location.href = 'practiceContextAwareness'")
			| Practice
	
	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')