doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
	meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
	head
		title Lucy
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		//- link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')
	body

		block content
		block scripts