
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top.nav-section
		.container
			.navbar-header
				.navbar-brand
					a(href="home") Home
					a(href="#") Concepts
					a(href="#") About
					a(href="#") Help
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn.btn-logout.btn.btn-default
						| Sign Out
			.section-definition.book
				img(src='/images/livro.png')
				h2 Lecture
				p 
					| What is Context-Awareness? How is it programmed? What are the necessary tools to make an app trully Context-Aware? Learn this and much more in this section!
	.container-body.container-body-section
		h3.lecture Context Toolkit  
		p.explication
			| Get to know a little about the layered architecture of the 
			a(href='http://www.cc.gatech.edu/fce/contexttoolkit/pubs/SEWPC00.pdf', target='_blank') Context Toolkit
			|  framework proposed by Dey and Abowd.
		p.explication According to Dey and Newberger 
			| (
			a(href='http://contexttoolkit.sourceforge.net/', target='_blank') contexttoolkit.sourceforge.net
			| ), the Context Toolkit consists of context widgets and a distributed infrastructure that hosts the widgets. Context widgets are software components that provide applications with access to context information while hiding the details of context sensing.
	
	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')