
extends layout

block content
	#login.center-vertical
		h1 Welcome to 
			span#lucy Lucy
		h3 a learning environment about ubiquitous computing
		.form-login-page
			form.well(id='form-login', method='post')
				.form-group
					label Username
					input.form-control(type='text', id='user-tf', name='user')
				.form-group
					label Password
					input.form-control(type='password', id='pass-tf', name='pass')
					.btm-links
						#forgot-password
							a(href='#') Forgot your Password?
				.controls
					//- button(type='button').btn.btn-default.button-rememember-me
					//- 	span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
					//- 	| Remember Me
					button(type='submit').btn.btn-primary.button-sign-in
						span
						| Sign In
				.clearfix
			.btm-links
				#create-account
					a(href='/signup') New to Lucy? Click here to sign up!

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')