
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top.nav-section
		.container
			.navbar-header
				.navbar-brand
					a(href="home") Home
					a(href="#") Concepts
					a(href="#") About
					a(href="#") Help
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn.btn-logout.btn.btn-default
						| Sign Out
			.section-definition
				img(src='/images/alvo.png')
				h2 Practice
				p 
					| What is Context-Awareness? How is it programmed? What are the necessary tools to make an app trully Context-Aware? Learn this and much more in this section!
	.container-body.container-body-section
		h3.lecture Practical Activities 
		p.explication
			| Download the simulation's guide and questionnaire at: 
			a(href='https://docs.google.com/document/d/1aRotOQi9OxgnNrgkgVhRo-D93CPX_py1BhvNxqhWX84/edit?usp=sharing', target='_blank') simulation_activity 
		p.explication
			| Download the document to do programming activity at: 
			a(href='https://1drv.ms/w/s!AnfTpOzL2MeOhvtCNRssDe-7zPYAJQ', target='_blank') programming_activity

	
	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')