
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top.nav-section
		.container
			.navbar-header
				.navbar-brand
					a(href="home") Home
					a(href="#") Concepts
					a(href="#") About
					a(href="#") Help
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn.btn-logout.btn.btn-default
						| Sign Out
			.section-definition
				h2 Settings
	#login.container-body
		include account
		include modals/alert
		include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')