
extends layout

block content
	#login
		h1 Welcome to 
			span#lucy Lucy
		h3 a learning environment about ubiquitous computing 
		include account
		include modals/alert

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')