
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top.nav-section
		.container
			.navbar-header
				.navbar-brand
					a(href="home") Home
					a(href="#") Concepts
					a(href="#") About
					a(href="#") Help
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn.btn-logout.btn.btn-default
						| Sign Out
			.section-definition.wrench
				img(src='/images/chave_de_boca.png')
				h2 Simulation
				p 
					| Simulate a real Context-Aware test-enviroment using your own smartphone sensors!
	.container-body
		object.object-body(data='http://200.19.179.222:8000/')
	
	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')